<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
</head>
<body>
<h1>Ha ocurrido un error</h1>
<p>Código de error: <span th:text="${codigoError}"></span></p>
<p>Mensaje: <span th:text="${mensajeError}"></span></p>
</body>
</html>
