<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

<div class="container">
  <div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white">
      <h1>Implementación de webpay de Transbank</h1>
    </div>
    <div class="card-body text-primary">

      <div th:if="${mensaje!=null}" th:class="'alert alert-'+${clase}+'  alert-dismissible fade show'">
        <span th:text="${mensaje}"> </span>
        <button th:if="${mensaje!=null}" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <ul>
        <li><strong>Producto</strong>: Mesa de computador</li>
        <li><strong>Valor</strong>: $10.000</li>
        <li><strong>Cantidad</strong>: 1</li>
        <li><strong>Orden de compra</strong>: 34324</li>
      </ul>
      <a th:href="@{/pagar}">Pagar</a>
    </div>
  </div>
</div>

</body>
</html>